//color

$shade-bright: #f7f9f5;
$shade-bright-gray: #dce7d6;
$shade-light-gray: #aaa;
$shade-gray: #999;
$shade-sombre-gray: #777;
$shade-dark-gray: #2a3233;

$shade-electric-blue: #097cf3;


//logic
$color-main: $shade-electric-blue;
$color-font: $shade-dark-gray;
$color-background-page: $shade-gray;
$color-background-content: $shade-bright;

$color-page-nav-bg: $shade-bright-gray;