//color

$shade-bright: #f7f9f5;
$shade-bright-gray: #eeeeee;

$shade-lighter-gray: #d1d1da;
$shade-light-gray: #aaa;
$shade-gray: #999;
$shade-sombre-gray: #6c7077;
$shade-dark-gray: #3b3f44;
$shade-darkest-gray: #2a3233;
$shade-electric-blue: #097cf3;


//logic
$color-main: $shade-electric-blue;
$color-font: $shade-dark-gray;
$color-background-page: $shade-gray;
$color-background-content: $shade-bright;

$color-page-nav-bg: $shade-bright-gray;


//sizes

$size-xs: 700px;
$size-sm: 900px;
$size-md: 1400px;
$size-hd: 2000px;
