@import './_mixins';
@import './_vars.scss';
@import './transitions';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,900,400');


body,html, #root{
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: $color-font;
  overflow: hidden;
  background-color: $color-background-page;
  @include media-desktop{
    font-size: 16px;
  }
  @include media-tablet-down{
    font-size: 14px;
  }
  line-height: 1.6;
}
p{margin:0;padding:0}

a{
  text-decoration: none;
  color: $color-main;
}

h1, h2, h3{
  margin: 0;
  padding:0;
  line-height: 1.1;
  font-family: Raleway, Arial, sans-serif;
}

#header{
  display: flex;
  width: 100%;
  padding: 0 10px;
  flex: 0 0 auto;
  box-sizing: border-box;
  align-items: center;
  .main-logo{
    //position: absolute;
  }
  .side-nav{
    margin: 40px auto 0 auto;
    flex: 0 0 auto;
  }
}

.main-logo{
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: -0.04em;
  color: white;
  font-family: 'Raleway', sans-serif;
  span:nth-child(1), span:nth-child(2){
    font-weight: 100;
    color: white;
  }
  span:nth-child(n + 3){
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
  }
  span:nth-child(n + 4){
    color: $color-main;
  }
}

.main{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content{
  position: relative;
  box-sizing: border-box;
  flex: 0 1 100%;
  display: flex;
  flex-direction: column;
}

//page
.page{
  background-color: $color-background-content;
  display: flex;
  @include media-phone {
    flex-direction: column;
  }
  h2{
    span{
      display: inline-block;
    }
  }
}

.slider{
  flex: 0 0 50%;
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: stretch;
  @include media-phone{
    height: 55vh;
    transform: rotate(90deg);
  }
  &__path-fill{
    fill: $shade-bright;
    stroke: none;
    z-index: 50;
  }
  &__bt{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-main;
    transform-origin: 0 0;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color .3s, width .3s, height .3s;
    &:hover{
      width: 35px;
      height: 35px;
      background-color: lighten($color-main, 15%);
      opacity: 1;
    }
  }
  &__previous-bt{
    background-color: rgba(255, 255, 255, .7);
    color: $color-main;
    border: 2px solid $color-main;
    font-weight: bold;
  }
  &__image, &__next-image {
    width: 160%;
    margin-left: -25%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
  }
  &__image{
    z-index: 10;
  }
  &__next-image{
    z-index: 8;
  }
  &__cache{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 11;
    background-color: $shade-bright;
  }
  &__ram{
    position: absolute;
    box-sizing: border-box;
    background-color: $shade-bright;
    border: 3px solid $color-main;
    width: 35px;
    height: 22px;
    z-index: 100;
    transform-origin: 0 0;
  }
}

//page specific
.page {
  .hens-world {

  }
}

.project {
  padding: 20px 60px 35px 15px;
  overflow-y: auto;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  &__flex{
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  &:not(.fadeTranslate-exit){
    h2{
      span{opacity: 0}
    }
    h3, .icon, .project__excerpt{
      opacity: 0
    }
  }
  p{
    text-align: justify;
  }
  h2 {
  }
  h3{
    font-size: 1.9em;
    margin-top: 7px;
  }
  &__excerpt{
    margin-top: 30px;
    p{
      width: 100%;
    }
  }
  .button{
    opacity: 0;
  }
}



.navbar{
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: $color-page-nav-bg;
  box-shadow: 0px -1px 5px rgba(100, 100, 100, .3);
}

.page-nav{
  display: block;
  margin-top: -20px;
  width: 80px;
  position: relative;
  height: 80px;
  border-radius: 50%;
  background-color: #555;
  &__arrow{
    width: 40px;
    height: 3px;
    position: relative;
    //left: 40px;
    top: 40px;
    background-color: $color-main;
    transform-origin: 100% 50%;
    transition: transform .2s;
    &:after{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      background-color: $color-main;
      top: -3px;
    }
  }
}

.side-nav{
  right: 15px;
  height: 4px;
  top: 50%;
  display: flex;
  border-radius: 4px;
  background-color: $color-main;
  transform: translate(0% -50%);
  a{
    color: $color-font;
    display: inline-block;
  }
  &.long{
    > a:not(:first-child){
      padding-left: 70px;
    }
    > a:not(:last-child){
      padding-right: 70px;
    }
    .link-info{
      padding-bottom: 1em;
      display: block;
      bottom: 20%;
      width: 120px;
      margin-left: -54px;
      //position: static;
      top: auto;
      right: auto;
      text-align: center;
      transform: none;
    }
  }
  > a:not(:last-child){
    padding-right: 25px;
  }
  &__link{
    margin-top: -4px;
    display: block;
    cursor: pointer;
    position: relative;
    &-dot{
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: $color-main;
      transform-origin: 50% 50%;
      transition: all .3s;
    }
    &.active{
      .side-nav__link-dot{
        background-color: lighten($color-main, 10%);
        transform: scale(1.3);
      }
      .link-info{
        font-weight: 700;
      }
    }

    .link-info{
      transform-origin: 100% 50%;
      transform: rotate(-75deg);
      line-height: 1;
      //border: 1px solid red;
      width: 200px;
      //pointer-events: none;
      position: absolute;
      right: 100%;
      top: 1.1em;
      text-align: right;
    }
    &:hover{
      .side-nav__link-dot{
        background-color: lighten($color-main, 15%);
      }
      .link-info{
        opacity: 1;
      }
    }
  }
}


.home{
  max-width: 1080px;
  width: 100%;
  padding: 10px 30px 25px 25px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 45px;
  max-height: 100%;
  overflow-y: auto;
}


.icon-list{
  filter: grayscale(1) contrast(75%);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  justify-content: space-around;
  margin: 10px 0;
  &__hover{
    &.hidden{
      display: none;
    }
    position: fixed;
    z-index: 5;
    padding: 5px;
    //pointer-events: none;
    color: white;
    background-color: rgba(10, 10, 10, .88);
  }
  img{
    width: 90px;
    max-height: 100px;
    transform: scale(0.85);
    margin: 2px 10px;
    @include media-tablet-down{
      width: 70px;
    }

  }
  .icon-mysql{
    width: 125px;
  }
  .icon-nodejs{
    //border:1px solid red;
  }
  .icon-nodejs{
    filter: brightness(80%);
  }
}

.button{
  border: 2px solid $color-main;
  padding: 3px 5px;
  min-width: 25%;
  text-align: center;
  color: $color-main;
  cursor: pointer;
  flex: 0 0 auto;
  &:hover{
    color: $shade-bright;
    background-color: $color-main;
  }
}

.line{
  margin-top: 20px;
  display: flex;
  flex: 0 0 auto;
  margin-bottom: 35px;
  justify-content: space-between;
  @include media-phone{
    flex-direction: column;
  }
}

.overlay{
  &.hidden{
    pointer-events: none;
    opacity: 0;
    z-index: 0;
  }
  transition: z-index 2s, opacity .25s;
  opacity: 1;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 15, 0.85);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  &__wrapper{
    background: white;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 0 5px 1px rgba(15, 15, 15, .8);
    width: 90%;
    position: relative;
    height: 80%;
  }
  &__close-bt{
    position: absolute;
    right: 25px;
    cursor: pointer;
    &:after {
      content: '✖'; /* UTF-8 symbol */
    }
    &:hover{
      color: $color-main;
    }

  }
}

.project-excerpt{
  background: $shade-bright-blueish;
  margin: 10px 5px;
  box-shadow: 1px 2px 1px 0px rgba(20, 20, 20, .5);
  display: flex;
  align-items: stretch;
  &__content{
    flex: 1 0 auto;
    padding: 5px;
    position: relative;
  }
  &__date{
    color: $shade-bright;
    font-style: italic;
    font-size: .9em;
    margin-top: 5px;
  }
  h2{
    color: white;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
  }
  &__image{
    width: 20%;
    min-width: 100px;
    background-size: 200%;
    background-position: center;
    position: relative;
    svg{
      display: flex;
      align-self: stretch;
    }
    path{
      fill: $shade-bright-blueish;
      //stroke-width: 2px;
      //stroke: $shade-light-gray;
    }
  }
  &__icons{
    position: absolute;
    right: -35px;
    z-index: 10;
    filter: grayscale(1) contrast(75%);
    top: 5px;
    display: flex;
    align-items: center;
  }
  .icon{
    width: 40px;
    margin: 2px 5px;
    max-height: 50px;
  }
  &:hover{

  }
}

.underline-title{
  font-size: 2.1em;
  text-transform: uppercase;
  margin: 0 0 20px -3px;
  margin-left: -3px;
  padding:0;
  h2{
    margin-left: 20px;
  }
  path{
    fill: $color-main;
  }
  &__line{
    margin-left: 20px;
    height: 2px;
    margin-bottom: -20px;
    background-color: $color-main;
  }
}

.formation{
  margin: 10px 15px;
  display: flex;
  &:nth-child(3){
    .formation__school, .formation__town{
      font-size: .9em;
    }
  }
  &__info{
    width: 130px;
    flex: 0 0 auto;
    text-align: center;
    padding-right: 10px;
    border-right: 1.5px solid $color-main;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__school, &__town{
    color: $shade-gray;
    font-style: italic;
  }
  &__date{
    font-size: 1.2em;
  }
  &__title{
    word-break: normal;
    font-size: 1.2em;
  }
}

.info-card{
  padding: 10px 20px;
  background-color: $shade-bright-blueish;
  margin: 45px 5px 0 30px;
  max-width: 140px;
  text-align: center;
  flex: 0 0 auto;
  font-size: 1.2em;
  .avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  .mail{
    color: $color-main;
    word-break: break-all;
    line-height: .9em;
    display: inline-block;
  }
}

.landing{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &__draw-background{
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__wrapper{
    display: flex;
    margin-top: -10%;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 0 60px 10px $color-background-page, 0 0 60px 10px $color-background-page, 0 0 10px 5px $color-background-page;
  }
  &__button{
    margin-bottom: 35px;
    font-family: Raleway, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: $shade-bright;
    border-radius: 50%;
    border: 1px solid $shade-bright;
    font-weight: 400;
    transition: all .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover{
      transform: scale(1.2);
      background-color: rgba(200, 200, 200, .2);
    }
  }
}

.metro-rect{
  background-color: $color-background-page;
  border:2px solid $shade-bright;
  box-sizing: border-box;
  width: 46px;
  height: 24px;
  position: absolute;
  opacity: 0;
  top: -12px;
  left: -23px;
}

.virtual-fit-text{
  position: absolute;
  font-family: Raleway, sans-serif;
  visibility: hidden;
}