@import './mixins';
@import './_vars.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,900,400');
body,html, #root{
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow-y: hidden;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: $color-font;
  background-color: $color-background-page;
}

h1, h2, h3{
  margin: 0;
  padding:0;
}

#header{
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  .logo{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: -0.05em;
    color: white;
    font-family: 'Raleway', sans-serif;
    span:nth-child(1), span:nth-child(2){
      font-weight: 100;
      color: white;
    }
    span:nth-child(n + 3){
      font-family: 'Raleway', sans-serif;
      letter-spacing: -0.05em;
      font-weight: 900;
    }
    span:nth-child(n + 4){
      color: $color-font;
    }
  }
}

.main{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content{
  position: relative;
  box-sizing: border-box;
  flex: 1 0 auto;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}

//page
.page{
  margin: 5px 10px 0 10px;
  padding: 10px 20px;
  flex: 1 0 auto;
  background-color: $color-background-content;
  border:1px solid $shade-gray;
  h2{
    span{
      display: inline-block;
      opacity: 0;
    }
  }
}

//page specific
.page.hens-world{
  h2{
    font-size: 3em;
  }
}


.navbar{
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: $color-page-nav-bg;
  box-shadow: 0px -1px 5px rgba(100, 100, 100, .3);
}

.page-nav{
  display: block;
  margin-top: -20px;
  width: 80px;
  position: relative;
  height: 80px;
  border-radius: 50%;
  background-color: #555;
  &__arrow{
    width: 40px;
    height: 3px;
    position: relative;
    //left: 40px;
    top: 40px;
    background-color: $color-main;
    transform-origin: 100% 50%;
    transition: transform .2s;
    &:after{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      background-color: $color-main;
      top: -3px;
    }
  }
}


.home{
  .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

