@import './mixins';
@import './_vars.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,900,400');
body,html, #root{
  width: 100%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: $color-font;
  background-color: $color-background-page;
}

a{
  text-decoration: none;
}

h1, h2, h3{
  margin: 0;
  padding:0;
}

#header{
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  .logo{
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: -0.05em;
    color: white;
    font-family: 'Raleway', sans-serif;
    span:nth-child(1), span:nth-child(2){
      font-weight: 100;
      color: white;
    }
    span:nth-child(n + 3){
      font-family: 'Raleway', sans-serif;
      letter-spacing: -0.05em;
      font-weight: 900;
    }
    span:nth-child(n + 4){
      color: $color-main;
    }
  }
}

.main{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content{
  position: relative;
  box-sizing: border-box;
  flex: 1 0 auto;
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
}

//page
.page{
  flex: 1 0 auto;
  background-color: $color-background-content;
  display: flex;
  @media screen and (max-width: 640px){
    flex-direction: column;
  }
  h2{
    span{
      display: inline-block;
      opacity: 0;
    }
  }
}

.slider{
  flex: 0 0 50%;
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: stretch;
  @media screen and (max-width: 640px){
    height: 55vh;
    transform: rotate(90deg);
  }
  &__image, &__next-image {
    width: 160%;
    margin-left: -25%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center center;
  }
  &__image{
    z-index: 10;
  }
  &__next-image{
    z-index: 8;
  }
  &__cache{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 11;
    background-color: $shade-bright;
  }
}

//page specific
.page {
  .hens-world {

  }
}

.project {
  padding: 20px 55px 15px 15px;
  p{
    text-align: justify;
  }
  h2 {
    font-size: 4em;
  }
  h3{
    font-size: 1.9em;
    margin-top: 7px;
    opacity: 0;
  }
  &__excerpt{
    margin-top: 30px;
    opacity: 0;
  }
}



.navbar{
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  display: flex;
  justify-content: center;
  background-color: $color-page-nav-bg;
  box-shadow: 0px -1px 5px rgba(100, 100, 100, .3);
}

.page-nav{
  display: block;
  margin-top: -20px;
  width: 80px;
  position: relative;
  height: 80px;
  border-radius: 50%;
  background-color: #555;
  &__arrow{
    width: 40px;
    height: 3px;
    position: relative;
    //left: 40px;
    top: 40px;
    background-color: $color-main;
    transform-origin: 100% 50%;
    transition: transform .2s;
    &:after{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: absolute;
      background-color: $color-main;
      top: -3px;
    }
  }
}

.side-nav{
  position: fixed;
  right: 15px;
  width: 8px;
  top: 50%;
  border-radius: 4px;
  background-color: $color-main;
  transform: translate(0% -50%);
  &__link{
    margin-left: -4px;
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    background-color: $color-main;
    &:not(:last-child){
      margin-bottom: 15px;
    }
    .link-info{
      opacity: 0;
      width: 150px;
      pointer-events: none;
      position: absolute;
      right: 15px;
      text-align: right;
    }
    &:hover{
      background-color: lighten($color-main, 15%);
      .link-info{
        opacity: 1;
      }
    }
  }
}


.home{
  .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}


.icon-list{
  filter: grayscale(1) contrast(75%);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__hover{
    &.hidden{
      display: none;
    }
    position: fixed;
    z-index: 5;
    padding: 5px;
    pointer-events: none;
    color: white;
    background-color: rgba(10, 10, 10, .88);
  }
  img{
    max-height: 100px;
    margin: 2px 10px;
  }
  .icon-mysql{
    width: 125px;
  }
  .icon-nodejs{
    //border:1px solid red;
  }
  .icon-nodejs{
    filter: brightness(80%);
  }
}

.button{
  border: 2px solid $color-main;
  padding: 3px 5px;
  min-width: 25%;
  text-align: center;
  color: $color-main;
  cursor: pointer;
  &:hover{
    color: $shade-bright;
    background-color: $color-main;
  }
}

.line{
  display: flex;
  justify-content: space-between;
}

.overlay{
  &.hidden{
    pointer-events: none;
    opacity: 0;
    z-index: 0;
  }
  transition: z-index 2s, opacity .25s;
  opacity: 1;
  position: fixed;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: rgba(13, 13, 15, 0.85);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  &__wrapper{
    background: white;
    padding: 20px;
    max-width: 800px;
    box-shadow: 0 0 5px 1px rgba(15, 15, 15, .8);
    width: 90%;
    position: relative;
    height: 80%;
  }
  &__close-bt{
    position: absolute;
    right: 25px;
    cursor: pointer;
    &:after {
      content: '✖'; /* UTF-8 symbol */
    }
    &:hover{
      color: $color-main;
    }

  }
}